<div id="<%= dom_id catagory %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= catagory.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= catagory.description %>
  </p>

</div>
